pymongo
pymongo[srv]
dnspython
pandas
numpy
ensure
python-dotenv
ipykernel

# dev requirements -

tox==4.16.0
pyproject-api==1.7.1

pytest==7.1.3
# tox==3.25.1
black==22.8.0
flake8==5.0.4
mypy==0.971

-e .